.field,
.item {
  display: flex;
  border: 1px solid black;
}

.field {
  flex-wrap: wrap;
}

.item {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 300%;
}

.clicked {
  background: lightcyan;
}
